@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: white;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  margin: 0 2rem;
}
